---
layout: base.njk
title: "{{ title }}"
---

<article class="blog-post">
    <time datetime="{{ date | date("yyyy-MM-dd") }}" class="post-date">{{ date | date("MMMM dd, yyyy") }}</time>
    <h1 class="post-title">{{ title }}</h1>
    {% if image %}
        <figure class="post-image">
            <img src="{{ image }}" alt="{{ title }}">
            {% if imageAlt %}<figcaption>{{ imageAlt }}</figcaption>{% endif %}
        </figure>
    {% endif %}
    <div class="post-content">
        {{ content | safe }}
    </div>
</article>

<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="2eb0a1b8-aa01-47dd-9080-9e8406a8fec5"
  data-page-id="{{ PAGE_ID }}"
  data-page-url="{{ PAGE_URL }}"
  data-page-title="{{ PAGE_TITLE }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

{# ========================================== #}

<a href="/" class="back-to-home">&larr; Back to all cozy stories</a>
