---
permalink: "/feed.xml"
eleventyExcludeFromCollections: true
metadata:
  title: "{{ site.title }}"
  url: "https://mstewarts3.fun"
  feedUrl: "https://mstewarts3.fun/feed.xml"
  author:
    name: "{{ site.author }}"
    email: "grojapijus@gmail.com"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.postsForRss | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}/</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {% for post in collections.postsForRss | limit(10) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ post.url | absoluteUrl(metadata.url) }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ post.url | absoluteUrl(metadata.url) }}</id>
    {% if post.data.description %}
    <summary type="html"><![CDATA[{{ post.data.description | safe }}]]></summary>
    {% endif %}
    <content type="html"><![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(post.url) | safe }}]]></content>
  </entry>
  {% endfor %}
</feed>
